
body {
    position:center;
    margin: 0;
    display: flex;
    padding-left: 150px;
    top: 0;
    width: 90%;
    height: 90%;
}

.header {
    left: 0;
    right: 0;
    margin-left: 0;
    font-size: 4vw;
    text-align: center;
    position:center;
}

#graph {
    padding: 0;
    margin: 0;
    display: block;
    border: 1px solid #000000;
    margin-top: 50px;
}

#container {
    position: relative;
    align-self: center;
}

.righthand {
    margin-left: 2vw;
    width: 25%;
    height: 25%;
}

.inside {
    position: center;
    text-align: center;
    font-size: 2vw;
}

#button1 {
    position: center;
}